# for loop

In [1]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [2]:
n=int(input("Enter the n value:"))
for y in range(n):
    print(y)

Enter the n value:3
0
1
2

In [3]:
n1=int(input("Enter the n1 value:"))
for x in range(n1):
    n=int(input("Enter the n value:"))
    print("............................")
    for y in range(n):
        print(y)
    print("----------------------------") 
    print("----------------------------")

Enter the n1 value:2
Enter the n value:10
............................
0
1
2
3
4
5
6
7
8
9
----------------------------
----------------------------
Enter the n value:5
............................
0
1
2
3
4
----------------------------
----------------------------

In [4]:
for x in range(5,10):
    print(x)

5
6
7
8
9

In [5]:
n = int(input("Enter the n value:"))
for x in range(n):
    start = int(input("Starting value::"))
    end = int(input("ending value::"))
    print("------------------------------")
    for x in range(start,end):
        print(x)
    print("...........................")  
    print("...........................")

Enter the n value:3
Starting value::10
ending value::15
------------------------------
10
11
12
13
14
...........................
...........................
Starting value::20
ending value::30
------------------------------
20
21
22
23
24
25
26
27
28
29
...........................
...........................
Starting value::100
ending value::110
------------------------------
100
101
102
103
104
105
106
107
108
109
...........................
...........................

In [6]:
#odd numbers
for b in range(1,20,2):
    print(b)

1
3
5
7
9
11
13
15
17
19

In [7]:
#Even numbers
for x in range(2,20,2):
    print(x)

2
4
6
8
10
12
14
16
18

In [8]:
# 5 table
for c in range(5,55,5):
    print(c)

5
10
15
20
25
30
35
40
45
50

In [9]:
n = int(input("Enter the n value:"))
for x in range(n):
    start = int(input("Starting value::"))
    end = int(input("ending value::"))
    difference = int(input("difference between two values::"))
    print("------------------------------")
    for x in range(start,end,difference):
        print(x)
    print("...........................")  
    print("...........................")

Enter the n value:2
Starting value::2
ending value::20
difference between two values::3
------------------------------
2
5
8
11
14
17
...........................
...........................
Starting value::50
ending value::100
difference between two values::10
------------------------------
50
60
70
80
90
...........................
...........................

In [10]:
a="Racksonit"
for x in a:
    print(x)

R
a
c
k
s
o
n
i
t

In [11]:
a1=["ankita","nikita","renu","sayali","kajal"]
for x in a1:
    print(x)

ankita
nikita
renu
sayali
kajal

In [12]:
a1=["ankita","nikita","renu","sayali","kajal"]
for x in a1:
    print(x)
    for y in x:
        print(y)
    print("-------------------")

ankita
a
n
k
i
t
a
-------------------
nikita
n
i
k
i
t
a
-------------------
renu
r
e
n
u
-------------------
sayali
s
a
y
a
l
i
-------------------
kajal
k
a
j
a
l
-------------------

In [13]:
a=input("Enter the city name:")
for x in a:
    print(x)

Enter the city name:mumbai
m
u
m
b
a
i

In [14]:
n=int(input("Enter n value:"))
print(".......................")
for y1 in range(n):
    city_name = input("Enter city name::")
    for x in city_name:
        print(x)

Enter n value:3
.......................
Enter city name::kolhapur
k
o
l
h
a
p
u
r
Enter city name::pune
p
u
n
e
Enter city name::satara
s
a
t
a
r
a

In [15]:
a=["pune","satara","lonavala"]
for x in a[1]:
    print(x)

s
a
t
a
r
a

In [16]:
a=["mumbai","kolhapur"]
for x in a[0]:
    print(x)
    for y in x:
        print(y)

m
m
u
u
m
m
b
b
a
a
i
i

In [17]:
a=["kolhapur","sangali","swargate"]
for x in a[1][2]:
    print(x)

n

In [18]:
n=int(input("Enter the value for table:"))
for x in range(n,n*11,n):
    print(x)

Enter the value for table:20
20
40
60
80
100
120
140
160
180
200

In [19]:
a=input("Enter first city name:")
b=input("Enter second city name:")
c=[a,b]
print(c)

Enter first city name:mumbai
Enter second city name:sangali
['mumbai', 'sangali']

In [20]:
a="renu"
for x in a:
    print(x)
    a1=10
    b1=20
    print("total",a1+b1)

r
total 30
e
total 30
n
total 30
u
total 30

In [21]:
a="renu"
b="kajal"
c=[a,b]
for x in c:
    print(x)
    a1=11
    b1=20
    print("total",a1+b1)

renu
total 31
kajal
total 31