# Import Libraries

In [1]:
import numpy as np
import pandas as pd

# Data Loading

In [2]:
ipl = pd.read_csv(r"C:\Users\Kajal\Desktop\ssd\Desktop\dataset work November\datasets\datasets 1\datasets ipl match\matches.csv")

In [3]:
ipl

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,04-05-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad,35.0,0.0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,04-06-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant,0.0,7.0,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,04-07-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders,0.0,10.0,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,04-08-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab,0.0,6.0,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,04-08-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0.0,Royal Challengers Bangalore,15.0,0.0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,666,2018,Pune,30-Apr,Chennai Super Kings,Delhi Daredevils,Delhi Daredevils,field,NaN,NaN,Chennai Super Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,667,2018,Bangalore,01-May,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,NaN,NaN,Royal Challengers Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,668,2018,Delhi,02-May,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,NaN,NaN,Delhi Daredevils,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,669,2018,Kolkata,03-May,Kolkata Knight Riders,Chennai Super Kings,Kolkata Knight Riders,field,NaN,NaN,Kolkata Knight Riders,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,670,2018,Indore,04-May,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,NaN,NaN,Mumbai Indians,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# info

In [4]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670 entries, 0 to 669
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               670 non-null    int64
 1   season           670 non-null    int64
 2   city             670 non-null    object
 3   date             670 non-null    object
 4   team1            670 non-null    object
 5   team2            670 non-null    object
 6   toss_winner      670 non-null    object
 7   toss_decision    670 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    float64
 10  winner           670 non-null    object
 11  win_by_runs      636 non-null    float64
 12  win_by_wickets   636 non-null    float64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(4), int64(2), object(12)
memory usage: 94.3+ KB

# describe

In [5]:
ipl.describe()

,id,season,dl_applied,win_by_runs,win_by_wickets,umpire3
count,670.000000,670.000000,636.000000,636.000000,636.000000,0.0
mean,335.500000,2012.770149,0.025157,13.682390,3.372642,NaN
std,193.556624,2.960276,0.156726,23.908877,3.420338,NaN
min,1.000000,2008.000000,0.000000,0.000000,0.000000,NaN
25%,168.250000,2010.000000,0.000000,0.000000,0.000000,NaN
50%,335.500000,2013.000000,0.000000,0.000000,4.000000,NaN
75%,502.750000,2015.000000,0.000000,20.000000,7.000000,NaN
max,670.000000,2018.000000,1.000000,146.000000,10.000000,NaN

# Check null values

In [6]:
ipl.isnull().any()

id                 False
season             False
city               False
date               False
team1              False
team2              False
toss_winner        False
toss_decision      False
result              True
dl_applied          True
winner             False
win_by_runs         True
win_by_wickets      True
player_of_match     True
venue               True
umpire1             True
umpire2             True
umpire3             True
dtype: bool

In [7]:
ipl.isnull().sum()

id                   0
season               0
city                 0
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result              34
dl_applied          34
winner               0
win_by_runs         34
win_by_wickets      34
player_of_match     37
venue               34
umpire1             35
umpire2             35
umpire3            670
dtype: int64

# Data Analysis using problem statements

# Q.1 Find out team_2 Royal Challengers Bangalore data and toss_winner Count

In [8]:
toss = ipl.loc[(ipl["team2"]=="Royal Challengers Bangalore") & (ipl["toss_winner"]=="Royal Challengers Bangalore"),["team2","toss_winner"]]

In [9]:
toss

                           team2                  toss_winner
0    Royal Challengers Bangalore  Royal Challengers Bangalore
16   Royal Challengers Bangalore  Royal Challengers Bangalore
26   Royal Challengers Bangalore  Royal Challengers Bangalore
32   Royal Challengers Bangalore  Royal Challengers Bangalore
41   Royal Challengers Bangalore  Royal Challengers Bangalore
59   Royal Challengers Bangalore  Royal Challengers Bangalore
75   Royal Challengers Bangalore  Royal Challengers Bangalore
100  Royal Challengers Bangalore  Royal Challengers Bangalore
155  Royal Challengers Bangalore  Royal Challengers Bangalore
172  Royal Challengers Bangalore  Royal Challengers Bangalore
173  Royal Challengers Bangalore  Royal Challengers Bangalore
183  Royal Challengers Bangalore  Royal Challengers Bangalore
196  Royal Challengers Bangalore  Royal Challengers Bangalore
216  Royal Challengers Bangalore  Royal Challengers Bangalore
219  Royal Challengers Bangalore  Royal Challengers Bangalore
225  Royal Challengers Bangalore  Royal Challengers Bangalore
244  Royal Challengers Bangalore  Royal Challengers Bangalore
257  Royal Challengers Bangalore  Royal Challengers Bangalore
262  Royal Challengers Bangalore  Royal Challengers Bangalore
287  Royal Challengers Bangalore  Royal Challengers Bangalore
290  Royal Challengers Bangalore  Royal Challengers Bangalore
301  Royal Challengers Bangalore  Royal Challengers Bangalore
316  Royal Challengers Bangalore  Royal Challengers Bangalore
332  Royal Challengers Bangalore  Royal Challengers Bangalore
355  Royal Challengers Bangalore  Royal Challengers Bangalore
359  Royal Challengers Bangalore  Royal Challengers Bangalore
375  Royal Challengers Bangalore  Royal Challengers Bangalore
391  Royal Challengers Bangalore  Royal Challengers Bangalore
400  Royal Challengers Bangalore  Royal Challengers Bangalore
406  Royal Challengers Bangalore  Royal Challengers Bangalore
458  Royal Challengers Bangalore  Royal Challengers Bangalore
461  Royal Challengers Bangalore  Royal Challengers Bangalore
467  Royal Challengers Bangalore  Royal Challengers Bangalore
480  Royal Challengers Bangalore  Royal Challengers Bangalore
483  Royal Challengers Bangalore  Royal Challengers Bangalore
487  Royal Challengers Bangalore  Royal Challengers Bangalore
505  Royal Challengers Bangalore  Royal Challengers Bangalore
521  Royal Challengers Bangalore  Royal Challengers Bangalore
533  Royal Challengers Bangalore  Royal Challengers Bangalore
537  Royal Challengers Bangalore  Royal Challengers Bangalore
539  Royal Challengers Bangalore  Royal Challengers Bangalore
542  Royal Challengers Bangalore  Royal Challengers Bangalore
549  Royal Challengers Bangalore  Royal Challengers Bangalore
565  Royal Challengers Bangalore  Royal Challengers Bangalore
570  Royal Challengers Bangalore  Royal Challengers Bangalore
602  Royal Challengers Bangalore  Royal Challengers Bangalore
610  Royal Challengers Bangalore  Royal Challengers Bangalore
623  Royal Challengers Bangalore  Royal Challengers Bangalore
631  Royal Challengers Bangalore  Royal Challengers Bangalore
632  Royal Challengers Bangalore  Royal Challengers Bangalore
643  Royal Challengers Bangalore  Royal Challengers Bangalore
646  Royal Challengers Bangalore  Royal Challengers Bangalore
649  Royal Challengers Bangalore  Royal Challengers Bangalore
654  Royal Challengers Bangalore  Royal Challengers Bangalore

In [10]:
toss.count()

team2          54
toss_winner    54
dtype: int64

# Q.2 Find the Season 2017 match winner team names with its count

In [11]:
winner = ipl.loc[(ipl["season"]==2017),["season","winner"]]

In [12]:
winner

    season                       winner
0     2017          Sunrisers Hyderabad
1     2017       Rising Pune Supergiant
2     2017        Kolkata Knight Riders
3     2017              Kings XI Punjab
4     2017  Royal Challengers Bangalore
5     2017          Sunrisers Hyderabad
6     2017               Mumbai Indians
7     2017              Kings XI Punjab
8     2017             Delhi Daredevils
9     2017               Mumbai Indians
10    2017        Kolkata Knight Riders
11    2017               Mumbai Indians
12    2017                Gujarat Lions
13    2017        Kolkata Knight Riders
14    2017             Delhi Daredevils
15    2017               Mumbai Indians
16    2017       Rising Pune Supergiant
17    2017        Kolkata Knight Riders
18    2017          Sunrisers Hyderabad
19    2017  Royal Challengers Bangalore
20    2017          Sunrisers Hyderabad
21    2017               Mumbai Indians
22    2017                Gujarat Lions
23    2017               Mumbai Indians
24    2017       Rising Pune Supergiant
25    2017              Kings XI Punjab
26    2017        Kolkata Knight Riders
27    2017       Rising Pune Supergiant
28    2017        Kolkata Knight Riders
29    2017                Gujarat Lions
30    2017        Kolkata Knight Riders
31    2017          Sunrisers Hyderabad
32    2017       Rising Pune Supergiant
33    2017               Mumbai Indians
34    2017              Kings XI Punjab
35    2017          Sunrisers Hyderabad
36    2017               Mumbai Indians
37    2017       Rising Pune Supergiant
38    2017             Delhi Daredevils
39    2017       Rising Pune Supergiant
40    2017             Delhi Daredevils
41    2017              Kings XI Punjab
42    2017       Rising Pune Supergiant
43    2017               Mumbai Indians
44    2017        Kolkata Knight Riders
45    2017                Gujarat Lions
46    2017          Sunrisers Hyderabad
47    2017              Kings XI Punjab
48    2017             Delhi Daredevils
49    2017              Kings XI Punjab
50    2017             Delhi Daredevils
51    2017          Sunrisers Hyderabad
52    2017               Mumbai Indians
53    2017       Rising Pune Supergiant
54    2017  Royal Challengers Bangalore
55    2017       Rising Pune Supergiant
56    2017        Kolkata Knight Riders
57    2017               Mumbai Indians
58    2017               Mumbai Indians

In [13]:
winner["winner"].value_counts()

Mumbai Indians                 12
Rising Pune Supergiant         10
Kolkata Knight Riders           9
Sunrisers Hyderabad             8
Kings XI Punjab                 7
Delhi Daredevils                6
Gujarat Lions                   4
Royal Challengers Bangalore     3
Name: winner, dtype: int64

# Q.3 Find the team_1 Kings XI Punjab & team_2 mumbai indians data and calculate the mumbai indians winning & toss winning Count

In [14]:
team1_2 = ipl.loc[(ipl["team1"]=="Kings XI Punjab") & (ipl["team2"]=="Mumbai Indians") & (ipl["winner"]=="Mumbai Indians") & (ipl["toss_winner"]=="Mumbai Indians")]

In [15]:
team1_2

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
21,22,2017,Indore,4/20/2017,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0.0,Mumbai Indians,0.0,8.0,JC Buttler,Holkar Cricket Stadium,M Erasmus,C Shamshuddin,NaN
200,201,2010,Mumbai,3/30/2010,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0.0,Mumbai Indians,0.0,4.0,SL Malinga,Brabourne Stadium,BR Doctrove,SK Tarapore,NaN
504,505,2014,Chandigarh,5/21/2014,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0.0,Mumbai Indians,0.0,7.0,LMP Simmons,"Punjab Cricket Association Stadium, Mohali",HDPK Dharmasena,VA Kulkarni,NaN
669,670,2018,Indore,04-May,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,NaN,NaN,Mumbai Indians,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
MI = team1_2[["team1","team2","toss_winner","winner"]]

In [17]:
MI

               team1           team2     toss_winner          winner
21   Kings XI Punjab  Mumbai Indians  Mumbai Indians  Mumbai Indians
200  Kings XI Punjab  Mumbai Indians  Mumbai Indians  Mumbai Indians
504  Kings XI Punjab  Mumbai Indians  Mumbai Indians  Mumbai Indians
669  Kings XI Punjab  Mumbai Indians  Mumbai Indians  Mumbai Indians

# Q.4 Slice the data team_1 Gujarat Lions & player of the match is Rashid Khan

In [18]:
GL = ipl.loc[(ipl["team1"]=="Gujarat Lions") & (ipl["player_of_match"]=="Rashid Khan")]

In [19]:
GL

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
5,6,2017,Hyderabad,04-09-2017,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0.0,Sunrisers Hyderabad,0.0,9.0,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN