# 1) write a program on student marks take 2 students name and each five subject marks. calculate the total marks and avg.

In [1]:
marks=[]
for i in range(2):
    name=input("Enter the Name : ")
    for j in range(5):
        m=int(input("Enter the marks : "))
        marks.append(m)
        total=sum(marks)
        average=total/len(marks)
    print("Total Marks : ",total,",","Average : ",average)
    print("-------------------------------------------------")

Enter the Name : Kajal
Enter the marks : 78
Enter the marks : 77
Enter the marks : 65
Enter the marks : 80
Enter the marks : 90
Total Marks :  390 , Average :  78.0
-------------------------------------------------
Enter the Name : Nikita
Enter the marks : 90
Enter the marks : 99
Enter the marks : 87
Enter the marks : 78
Enter the marks : 77
Total Marks :  821 , Average :  82.1
-------------------------------------------------

# Star pattern

In [2]:
for x in range(2):
    n = int(input("Enter the value:"))
    for i in range(n):
        for j in range(i+1):
            print("*",end=" ")
        print()

Enter the value:5
*
* *
* * *
* * * *
* * * * *
Enter the value:7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [3]:
n=7
for i in range(n-1):
    for j in range(n):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(n):
        print(" ",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

              *
              * *
              * * *
              * * * *
              * * * * *
              * * * * * *
              * * * * * * *
              * * * * * *
              * * * * *
              * * * *
              * * *
              * *
              *

# List

In [4]:
a=[1,2,3,4,5,6,7,8,9]
print(type(a))

<class 'list'>

In [5]:
print(len(a))

9

In [6]:
a[2:5]

[3, 4, 5]

In [7]:
a[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
a[-5:-1]

[5, 6, 7, 8]

In [9]:
a=[1,2,3,4,5]
b=[0,4,7,8,9]
a+b

[1, 2, 3, 4, 5, 0, 4, 7, 8, 9]

In [10]:
name="RacksonsIt"
q=name[8:10]
q

'It'

In [11]:
a=[]
a.append(q)
print(a)

['It']

In [12]:
w=["shruti","nikita","ankita","asfiya"]
w.insert(3,"priti")
w

['shruti', 'nikita', 'ankita', 'priti', 'asfiya']

In [13]:
w=["shruti","nikita","ankita","asfiya"]
w.remove("asfiya")
w

['shruti', 'nikita', 'ankita']

In [14]:
w1=["Pune","Kolhapur","Mumbai","Satara","Sangali","Ichalkaranji"]
w1.pop()
w1

['Pune', 'Kolhapur', 'Mumbai', 'Satara', 'Sangali']

In [15]:
a1=[78,98,54,32,12,69,77,33,41,95]
a1.sort()
a1

[12, 32, 33, 41, 54, 69, 77, 78, 95, 98]

# Tuple

In [16]:
b=(1,2,3,4,5,6,7)
print(type(b))

<class 'tuple'>

In [17]:
print(len(b))

7

In [18]:
b[:]

(1, 2, 3, 4, 5, 6, 7)

In [19]:
b[:5]

(1, 2, 3, 4, 5)

In [20]:
b[3:6]

(4, 5, 6)

# Set

In [21]:
c={"sayali","pooja","nikita","kajal","ankita"}
print(type(c))

<class 'set'>

In [22]:
print(len(c))

5

In [23]:
c.add("asfiya")
c

{'ankita', 'asfiya', 'kajal', 'nikita', 'pooja', 'sayali'}

In [24]:
a1={1,2,3,4,5}
b1={7,8,9,4,9}
c1=a1.union(b1)
print(c1)

{1, 2, 3, 4, 5, 7, 8, 9}

In [25]:
d={"sayali","pooja","seema","kajal","ankita","sayali"}
print(d)                                               # Set is not allowed duplicate members

{'pooja', 'seema', 'kajal', 'ankita', 'sayali'}

In [26]:
d={"sayali","pooja","seema","kajal","ankita"}
d.remove("kajal")
d

{'ankita', 'pooja', 'sayali', 'seema'}

# Dictionary

In [27]:
d={"Name":"kajal","Roll_No":123,"Email_id":"kajalpandav0705"}
print(type(d))

<class 'dict'>

In [28]:
d.keys()

dict_keys(['Name', 'Roll_No', 'Email_id'])

In [29]:
d.values()

dict_values(['kajal', 123, 'kajalpandav0705'])

In [30]:
d.items()

dict_items([('Name', 'kajal'), ('Roll_No', 123), ('Email_id', 'kajalpandav0705')])